header {
    background-color: black;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
}
header nav a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding-left: 10px;
    border-radius: 5px;
}
.fondo img {
    width: 25%; 
    height: auto; 
    display: block; 
    float: left;
}
.bottom-left-text {
    position: absolute;
    bottom: -650px;
    left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}    
.bottom-left-text h1 {
    font-size: 1rem;
    font-weight: normal;
    font-family:'Montserrat', sans-serif;
    
}
.bottom-left-text h2 {
    font-size: 1.15rem;
    font-weight: normal;
    font-family:'Montserrat', sans-serif;
}
.bottom-left-text h3 {
    font-size: 2rem;
    font-family:'Montserrat', sans-serif;
}
.texto h1 {
    font-family:'Montserrat', sans-serif;
    font-size: 2rem;
}
.texto h3 {
    font-weight: normal;
    font-family:'Montserrat', sans-serif;
    font-size: 1.15rem;
}
.fondo-2 img {
    width: 25%; 
    height: auto; 
    display: block; 
    float: right;
    padding-top: 440px;
}
.fondo-3 img {
    width: 30%;  
    position: relative;
    left: 350px;
    bottom: 50px;
}
.footer {
    background-color: black;
    color: black;
    text-align: center;
    padding: 10px 0;
    margin-top: 600px;
}
.footer a:hover {
    color:black;
    
}
.footer-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 19px;
    width: 100%;
    margin-left: 10px;
}
.footer a, footer p {
    color: white;
    font-weight: normal;
    font-family:'Montserrat', sans-serif;
}

    